# Enforce LF line endings
* text=auto eol=lf

# Go files
*.go text eol=lf

# Config files
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.toml text eol=lf

# Shell scripts
*.sh text eol=lf

# Makefile
Makefile text eol=lf

# Binary files
*.exe binary
*.gz binary
*.zip binary
